@import 'https://fonts.googleapis.com/css?family=Hanken+Grotesk:wght@0,300;0,400;0,700;1,300;1,400;1,700';

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: 'Hanken Grotesk';
}

:root {
  --bg-color: #222222;
  --accent-color: #22A39F;
  --card-color: #51bbb7;
  --text-color: #F3EFE0;
}

body {
  background-color: var(--bg-color);
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
}

.mainQuestions {
  border-radius: 20px;
  padding: 3rem 5rem 3rem 5rem;
  background-color: var(--accent-color);
}

h3 {
  color: var(--text-color);
  margin-bottom: 2rem;
  text-align: center;
}

h1 {
  color: var(--text-color);
  font-size: 36px;
  text-align: center;
}

.answers {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  border: none;
  cursor: pointer;
  border-radius: 10px;
  width: 100%;
  background-color: var(--card-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  padding: 1rem;
  font-size: 16px;
}

h4 {
  color: var(--text-color);
  margin-top: 2rem;
  text-align: center;
}

.mainResults {
  border-radius: 20px;
  padding: 3rem 5rem 3rem 5rem;
  background-color: var(--accent-color);
}

p {
  font-size: 22px;
  color: var(--text-color);
  padding: 1rem;
  text-align: center;
}

.restartButton {
  width: 250px;
  background-color: rgb(202, 64, 64);
}